
@{
    ViewData["Title"] = "Doctor";
}

<div class="text-center">
    <img src="~/assets/doctor_logo.png" alt="doctor" />
</div>

<ul>
    <li>
        <a class="link-dark text-decoration-none fs-4" asp-action="TestFever" asp-controller="Doctor">Test tempretur</a>
    </li>
</ul>